html {
  scrollbar-width: none;
  /* user-select: none; */
}

:root {
  --light-text-color: #fff;
  --dark-text-color: #000;

  --light-bg-color: #f0f2f6;
  --dark-bg-color: #000;

  --light-container-color: #2d2d2d;
  --dark-container-color: #fff;

  --light-btn-hover-color: #212121;
  --dark-btn-hover-color: #c8c8c8;

  --light-border-color: #e9e9e9;
  --dark-border-color: #4b4b4b;

  --header-color: #2774f1;
  --btn-bg-hover: #0a7b1d;
  --btn-bg: #199923;
  --light-hover-bg: #45464a;
  --dark-hover-bg: #e2e2e2;
  --dark-disabled-bg: #a9a9a9;
  --light-disabled-bg: #777777;
}
[data-theme="light"] {
  --body-color: var(--dark-bg-color);
  --text-color: var(--light-text-color);
  --container-color: var(--light-container-color);
  --btn-hover-color: var(--light-btn-hover-color);
  --border-color: var(--dark-border-color);
  --hover-bg: var(--light-hover-bg);
  --disabled-bg: var(--light-disabled-bg);
}
[data-theme="dark"] {
  --body-color: var(--light-bg-color);
  --text-color: var(--dark-text-color);
  --container-color: var(--dark-container-color);
  --btn-hover-color: var(--dark-btn-hover-color);
  --border-color: var(--light-border-color);
  --hover-bg: var(--dark-hover-bg);
  --disabled-bg: var(--dark-disabled-bg);
}
